<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Person List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.13/css/all.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/menu :: menu"></div>
		<br />
			<table class="table">
				<tr>
					<th scope="col">Customer</th>
					<th scope="col">Order placed</th>
					<th scope="col">Product Name</th>
					<th scope="col">Product Description</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total Amount</th>
				</tr>
				<tbody th:each="order : ${orders}">
					<tr th:each="orderLine : ${order.orderLines}">
						<td th:text="${order.person.firstName}"></td>
						<td th:text="${order.orderDate}"></td>
						<td th:text="${orderLine.product.productName}"></td>
						<td th:text="${orderLine.product.description}"></td>
						<td><strong th:text="${orderLine.quantity}"></strong></td>
						<td>$ <strong th:text="${orderLine.product.price}"></strong></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<script>
			$('.active').removeClass('active');
			$('#order').addClass('active');
		</script>
</body>
</html>