<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Person List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.13/css/all.css}" />
</head>
<body>
	<div class="container">
		<div th:replace="fragments/menu :: menu"></div>
		<a th:href="@{/order}" class="btn btn-default"><i class="ta ta-plus">Create an Order</i></a> <br />
		<br />
		<div th:each="order : ${orders}">
			<table class="table">
				<tr>
					<th scope="col">Customer</th>
					<th scope="col">Order placed</th>
					<th scope="col">Total</th>
					<th scope="col">Order Status</th>
				</tr>
				<tbody>
					<tr>
						<td th:text="${order.person.firstName}"></td>
						<td th:text="${order.orderDate}"></td>
						<td th:text="${order.totalAmount}"></td>
					</tr>
					<tr th:each="orderLine, ${order.orderLines}">
						<td th:text="${orderLine.product.name}"></td>
						<td th:text="${orderLine.product.description}"></td>
						<td>Price: $ <strong th:text="${orderLine.product.price}"></strong></td>
						<td>Quantity: <strong th:text="${orderLine.quantity}"></strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>